<template name="bookmarkedRes">
  <div class="post">
    <div class="vote">
        <div class="btn-stack">
          <a href="{{pathFor 'saveBookmark' myBookmark}}" class="btn btn-primary {{bookmarkedClass}}"><i class="fa fa-fw fa-bookmark fa-2x"></i></a>
        </div>
    </div>
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
        {{#each features}}      
            <i class="fa {{icon}}"></i>
        {{/each}}
        {{#each tags}}
            {{name}}
        {{/each}}
        {{> postItemRating}}

        <p>  
      {{votes}} Votes,          
            Submitted by {{author}} {{submitted}}
            {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
        </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>