<template name="postItem">
  <div class="post">
    <div class="vote">
        <div class="btn-stack">
          <a href="#" class="btn btn-primary {{upvotedClass}}"><i class="fa fa-fw fa-arrow-circle-up fa-2x"></i></a>
        </div>
        <div class="btn-stack">
          <a href="#" class="btn btn-primary {{bookmarkedClass}}"><i class="fa fa-fw fa-bookmark fa-2x"></i></a>
        </div>
    </div>
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
		{{#each features}}		
	  		<i class="fa {{icon}}"></i>
		{{/each}}
        {{#each tags}}
            {{name}}
        {{/each}}
        {{> postItemRating}}

		<p>            
			Submitted by {{author}} {{submitted}}
            {{#if ownPost}}<a href="{{postEditPath this}}">Edit</a>{{/if}}
		</p>
    </div>
    <a href="{{postPagePath this}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>